@font-face {
  font-family: 'Futura';
  src: url(../../public/fonts/FuturaCyrillicMedium.ttf) format('truetype');
  font-weight: 500; 
  font-style: normal;
}
.home-background {
  position: relative; 
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-cream); 
  overflow-x: hidden;
}

.home-background::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;   
  right: 40px; 
  background-image: url('../../public/images/hotel/Hotelweb/wallpaperflare.com_wallpaper\ \(2\).jpg'); /* Ajusta tu ruta real */
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
  width: calc(100% - 80px); 
  height: 100%;
}

.main-window {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-banner {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  padding: 25px 35px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  max-width: 500px;
  margin: 40px auto 20px auto;
}

.overlay-content h1 {
  color: var(--bg-white);
  font-family: 'Futura', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 8px 0;
  text-shadow: 12px 2px 12px#6d5b52;
}

.overlay-content h3 {
  color: var(--bg-white);
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  font-family: 'Futura', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 12px 4px 12px#6d5b52;
}

.search-placement {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.view-rooms-home {
  background-color: rgba(223, 201, 211, 0.329);
  border-radius: 3px;
  display: inline-block;
  margin: 40px 0;
  color: var(--bg-cream);
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  border-bottom: thick double var(--bg-cream);
  padding-bottom: 5px;
  transition: color 0.3s;
  font-family: 'Futura', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 12px 4px 12px#6d5b52;
}

.view-rooms-home:hover {
  color: var(--old-mauve);
  border-bottom: thick double var(--old-mauve);
}

.home-services {
  font-family: 'Futura', sans-serif;
  font-size: 36px;
  color: var(--bg-cream);;
  margin: 60px 0 30px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 12px 4px 12px#6d5b52;
}

.service-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px 80px 20px;
  box-sizing: border-box;
  margin: 0 auto; 
}

.service-card {
background-color: var(--bg-white);
  border: 1px solid var(--putty);
  border-radius: 8px; 
  padding: 20px 25px; 
  box-shadow: 0 4px 12px rgba(72, 40, 27, 0.04);
  transition: transform 0.3s, border-color 0.3s;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  text-align: left; 
  gap: 20px; 
}

.service-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.service-title {
  font-size: 18px;
  color: var(--text-dark);
  margin-bottom: 10px;
}

.service-description {
  font-size: 14px;
  color: #777;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .home-background::before {
    left: 15px;
    right: 15px;
    width: calc(100% - 30px);
  }
}

@media (max-width: 768px) {
  .service-section {
    grid-template-columns: 1fr;
    gap: 20px; 
  }
}