:root {
  --bg-cream: #FFF4F8;         
  --bg-white: #FFFFFF;
  /*#f0e8e8*/
  
  --hotel-green: #588569;       
  --hotel-coral: #EFA899;      
  --hotel-pink: #E07F99;       
  --hotel-gold: #A4805C;
  --hotel-babyblue: #5c6a9a; 
  --magnolia-white: #D9BFC6;
  --haute-pink:#D99CB2;       
  --dark-beige:#D9AD77;
  --chocolate:#402A17;
  --nougat:#A68877;
  --misty-blue:#B6C0D6;
  --cool-gray:#9BA2B7;
  --putty:#E4D7D5;
  --grayish-pink:#D1AFBA;
  --redish-pink:#A3585C;
  --deep-pink:#D4508B;
  --sakurairo:#F8C3CD;
  --plum:#6B2D5B;
  --parchment:#F2E8CF;
  --rose-gold:#B76E79;
  --cyclamen: #EE7098;
    --rose-dust: #AB6879;
    --charm-pink: #E891A6;
    --queen-blue: #3B6887;
    --indigo-dye: #1A4A70;
    --raw-sienna: #AE6A2D;
    --cornsilk: #FDF6D9;
    --light-french-beige: #C5A572;
    --dark-sienna: #3B1516;
    --red: #A2100D;
    --old-mauve: #55203F;
    --new-york-pink: #C7776F;
    --saffron: #DCA94C;
    --finn-purple: #4E1333;
    --dark-red: #981B12;
    --copper-red: #BF785D;
    --bistre-brown: #411508;
  
  /* Colores oscuros y Textos */
  --text-dark: #333333;         
  --text-muted: #555555;        
  --text-black: #000000;
  --hotel-burgundy: #48281B;
}
 
* {
  margin: 0;
  box-sizing: border-box; 
  font-family: 'Futura', sans-serif;

}

body {
  overflow-x: hidden;
  background-color: var(--bg-white);
}

.colors {
  color: var(--hotel-pink);
  color: var(--hotel-green);
  color: var(--hotel-burgundy);
  color: var(--text-dark);
}

/*.onyx-color {
  color: var(--hotel-pink);
  color: var(--hotel-coral);
}*/
